body {
  margin: 0;
  padding: 0;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

table th, table td { white-space: nowrap; }

@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap");

#title {
  text-align: center;
}

body {
  font-family: "Quicksand", sans-serif;
  
  
  padding: 0;
  color: #4d4d4d;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
